<div class="footer" id='contact'>
    <div class="container">
        <div class="footer-content row align-items-center justify-content-between">

            <div class="footer-content__left col-md-6">

                <button class="btn btn-footer btn-default">Hire me</button>
                <div class="footer-content__items d-flex justify-content-center">
                    <a href="https://www.facebook.com/juliashybunka" target="blank" class="">
                        <div class="social-icon ">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/julia-shybunka-114b49187/" target="blank" class="">
                        <div class="social-icon">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="https://github.com/JuliaShybunka" target="blank" class="">
                        <div class="social-icon ">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>


            </div>
            <div class="footer-content__right col-md-3">
                <img class="footer-content__image" src="../portfolio/images/photo.jpg" alt="">

            </div>
        </div>
    </div>
</div>


<%- include('bottomPage'); -%>