<div class="footer">
    <div class="container">
        <div class="footer-content row">

            <div class="footer-content__left col-md-6">

                <button class="btn btn-default">Hire me</button>
                <div class="footer-content__items">
                    <a href="http://www.facebook.com" target="blank" class="">
                        <div class="social-icon ">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="http://www.facebook.com" target="blank" class="">
                        <div class="social-icon">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="http://www.facebook.com" target="blank" class="">
                        <div class="social-icon ">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>


            </div>
            <div class="footer-content__right col-md-6">
                <img class="footer-content__image" src="../portfolio/images/photo.jpg" alt="">

            </div>
        </div>
    </div>
</div>


<%- include('bottomPage'); -%>