<div class="footer">
    <div class="container">
        <div class="footer-content">

            <div class="footer-content__left">
                <img class="footer-content__message" src="../portfolio/images/chat.svg" alt="">

                <div class="footer-content__items">

                </div>
            </div>
            <div class="footer-content__right">
                <img class="footer-content__image" src="../portfolio/images/photo.jpg" alt="">

            </div>
        </div>
    </div>
</div>


<%- include('bottomPage'); -%>