<section class="work" id='work'>
    <div class="container-fluid">
        <h3 class="work-title title work-title">Projects</h3>
        <div class="container">
            <div class="card-group row">
                <% works.slice().reverse().forEach(work => {%>
                    <div class="col-lg-4 d-flex align-items-stretch work-card ">
                        <div class="card ">
                            <img src="data:image/<%=work.image.contentType%>;base64,
                        <%=work.image.data.toString('base64')%>" class="img-fluid" alt="...">
                            <div class="card-body work-card__inner">
                                <h5 class="card-title card-body work-card__title">
                                    <%= work.title %>
                                </h5>
                                <a href=<%=work.link %> class="btn btn-primary card-body work-card__link btn-default" target="_blank">View more</a>
                            </div>
                        </div>
                    </div>
                    <% });  %>
            </div>
        </div>
    </div>
</section>