<section class="work">
    <div class="container-fluid">
        <h3 class="work-title title">Work</h3>
        <div class="container">
            <div class="card-group">
                <% works.forEach(work => {%>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= work.title %>
                            </h5>
                            <a href=<%=work.link %> class="btn btn-primary" target="_blank">View more</a>
                        </div>
                    </div>
                    <% });  %>
            </div>
        </div>
    </div>
</section>