<section class="work">
    <div class="container-fluid">
        <h3 class="work-title title">Work</h3>
        <div class="container">
            <div class="card-group">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Law Firm</h5>
                        <a href="https://juliashybunka.github.io/Law-Firm-Attorney-Website-Template/" class="btn btn-primary">View more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>